<!-- -----------------------------modal  Formulaio agregar/ editar Experiencia Laboral --------------------------- -->
<div class="modal fade" id="exampleModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Experiencia Laboral
        </h5>
        <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <div>
              <div>
                <h5 class="titulo">{{ accion | uppercase }} EXPERIENCIA</h5>
  
                <form [formGroup]="formulario" (ngSubmit)="guardarExperiencia()">
        
                  <div>
                    <mat-form-field appearance="legacy">
                      <mat-label>nueva experiencia</mat-label>
                      <input matInput formControlName="nombreExperiencia" type="text" 
                      placeholder="escriba la experiencia">
                    </mat-form-field>
                  </div>

                    <!-- fechas -->
                    <div>
                      <mat-form-field appearance="legacy">
                        <mat-label>Ingrese un rango de fechas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate formControlName="fechaInicio" placeholder="Start date">
                          <input matEndDate formControlName="fechaFin" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
  
                    <!-- div descripcion -->
                    <div>
                      <mat-form-field appearance="legacy">
                        <mat-label>descripcion</mat-label>
                        <input matInput formControlName="descripcion" type="text" 
                        placeholder="escriba la descripcion">
                      </mat-form-field>
                    </div>

                  <!-- div tipo de trabajo -->
                  <mat-form-field appearance="legacy">
                    <mat-label>Tipo de Trabajo</mat-label>
                    <mat-select formControlName="trabajos" >
                      <mat-option *ngFor="let eleccion of tipotrabajo" [value]="eleccion">
                        {{eleccion.tipotrabajo}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!--div boton aceptar -->
                  <div class="d-grid gap-2">
                    <button [disabled]="this.formulario.invalid" type="submit" class="btn btn-success btn-lg">
                      <i class="fa-solid fa-database"></i>&nbsp; Aceptar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- ------------------fin modal experiencias -->

<!-- inicio tabla de experiencias Laborales -->
<article id="expel">
  <h2>Lista de Experiencias <i class="fa-regular fa-pen-to-square text-info" data-bs-toggle="modal" data-bs-target="#exampleModal3"
      *ngIf="ulogged != ''"></i></h2>

  <div class="table-wrapper containerEdu">
    <table class="fl-table ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Tipo de Trabajo</th>
          <th scope="col" *ngIf="ulogged != ''">Editar</th>
          <th scope="col" *ngIf="ulogged != ''">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expe of listexperiencias">
          <td>{{ expe.nombreExperiencia }}</td>
          <td>{{ expe.fechaInicio }}</td>
          <td>{{ expe.fechaFin }}</td>
          <td>{{ expe.descripcion }}</td>
          <td>{{ expe.trabajos.tipotrabajo }}</td>

          <!-- boton para editar experiencia -->
            <td data-bs-toggle="modal" data-bs-target="#exampleModal3"*ngIf="ulogged != ''">
              <i (click)="editarExperiencia(expe)" class="fa-regular fa-pen-to-square text-info"></i>
            </td>

          <!-- boton para eliminar -->
          <td *ngIf="ulogged != ''">
            <i (click)="eliminarExperiencia(expe.id)" class="fa-regular fa-trash-can text-danger"></i>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</article>
<!-- fin tabla de experiencias Laborales --> 




