<!-- -----------------------------modal  Formulaio agregar/ editar Experiencia Laboral --------------------------- -->
<div class="modal fade" id="exampleModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Experiencia Laboral
        </h5>
        <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="">
            <div class="">
              <div class="">
                <h5 class="titulo">{{ accion | uppercase }} EXPERIENCIA</h5>
  
                <form [formGroup]="formulario" (ngSubmit)="guardarExperiencia()">
                  <!-- div nombre -->
        <!--           <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-user" [class.green-icon]="
                          this.formulario.get('nombreExperiencia')?.valid
                        " [class.red-icon]="
                          this.formulario.get('nombreExperiencia')?.invalid &&
                          this.formulario.get('nombreExperiencia')?.touched
                        "></i>
                    </span>
                    <input formControlName="nombreExperiencia" type="text" class="form-control"
                      placeholder="Nombre de la experiencia" />
                  </div> -->

                  <!-- div nombre -->
                  <div>
                    <mat-form-field appearance="legacy">
                      <mat-label>nueva experiencia</mat-label>
                      <input matInput formControlName="nombreExperiencia" type="text" 
                      placeholder="escriba la experiencia">
                    </mat-form-field>
                  </div>

                  <!-- div fecha inicio -->
    <!--               <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days" [class.green-icon]="
                          this.formulario.get('fechaInicio')?.valid
                        " [class.red-icon]="
                          this.formulario.get('fechaInicio')?.invalid &&
                          this.formulario.get('fechaInicio')?.touched
                        ">
                      </i></span>
                    <input formControlName="fechaInicio" type="date" maxlength="10" class="form-control"
                      placeholder="aaaa-mm-dd" />
                  </div> -->

                     <!-- fechas -->
                     <div>
                      <mat-form-field appearance="legacy">
                        <mat-label>Ingrese un rango de fechas</mat-label>
                        <mat-date-range-input formControlName="fechaInicio" [rangePicker]="picker">
                          <input matStartDate formControlName="fechaInicio" placeholder="Start date">
                          <input matEndDate formControlName="fechaFin" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
  
                  <!-- div fecha fin -->
               <!--    <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days" [class.green-icon]="
                          this.formulario.get('fechaFin')?.valid
                        " [class.red-icon]="
                          this.formulario.get('fechaFin')?.invalid &&
                          this.formulario.get('fechaFin')?.touched
                        ">
                      </i></span>
                    <input formControlName="fechaFin" type="date" maxlength="10" class="form-control"
                      placeholder="aaaa-mm-dd" />
                  </div> -->
  
                  <!-- div descripcion -->
                <!--  <div>
                    <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text"><i class="fa-solid fa-circle-info" [class.green-icon]="
                            this.formulario.get('descripcion')?.valid
                          " [class.red-icon]="
                            this.formulario.get('descripcion')?.invalid &&
                            this.formulario.get('descripcion')?.touched
                          ">
                        </i></span>
                      <input formControlName="descripcion" type="text" class="form-control" placeholder="descripcion" />
                    </div>
                  </div> -->

                    <!-- div descripcion -->
                    <div>
                      <mat-form-field appearance="legacy">
                        <mat-label>descripcion</mat-label>
                        <input matInput formControlName="descripcion" type="text" 
                        placeholder="escriba la descripcion">
                      </mat-form-field>
                    </div>

                  <!-- div tipo de trabajo -->
                  <mat-form-field appearance="legacy">
                    <mat-label>Tipo de Trabajo</mat-label>
                    <mat-select formControlName="trabajos" >
                      <mat-option *ngFor="let eleccion of tipotrabajo" [value]="eleccion">
                        {{eleccion.tipotrabajo}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


              <!--     <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-briefcase" [class.green-icon]="
                          this.formulario.get('trabajos')?.valid
                        " [class.red-icon]="
                          this.formulario.get('trabajos')?.invalid &&
                          this.formulario.get('trabajos')?.touched
                        ">
                      </i></span>
  
                    <select formControlName="trabajos">
                      <option [ngValue]="null">Elija tipo de trabajo</option>
                      <option *ngFor="let eleccion of tipotrabajo" [ngValue]="eleccion">
                        {{ eleccion.tipotrabajo }}
                      </option>
                    </select>
                  </div> -->
  
                  <!--div boton aceptar -->
                  <div class="d-grid gap-2">
                    <button [disabled]="this.formulario.invalid" type="submit" class="btn btn-success btn-lg">
                      <i class="fa-solid fa-database"></i>&nbsp; Aceptar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- ------------------fin modal experiencias -->

<!-- inicio tabla de experiencias Laborales -->
<article id="expel">
  <h2>Lista de Experiencias <i class="fa-regular fa-pen-to-square text-info" data-bs-toggle="modal" data-bs-target="#exampleModal3"
      *ngIf="ulogged != ''"></i></h2>

  <div class="table-wrapper containerEdu">
    <table class="fl-table ">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Tipo de Trabajo</th>
          <th scope="col" *ngIf="ulogged != ''">Editar</th>
          <th scope="col" *ngIf="ulogged != ''">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expe of listexperiencias">
          <td>{{ expe.nombreExperiencia }}</td>
          <td>{{ expe.fechaInicio }}</td>
          <td>{{ expe.fechaFin }}</td>
          <td>{{ expe.descripcion }}</td>
          <td>{{ expe.trabajos.tipotrabajo }}</td>

          <!-- boton para editar experiencia -->
            <td data-bs-toggle="modal" data-bs-target="#exampleModal3"*ngIf="ulogged != ''">
              <i (click)="editarExperiencia(expe)" class="fa-regular fa-pen-to-square text-info"></i>
            </td>

          <!-- boton para eliminar -->
          <td *ngIf="ulogged != ''">
            <i (click)="eliminarExperiencia(expe.id)" class="fa-regular fa-trash-can text-danger"></i>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</article>
<!-- fin tabla de experiencias Laborales --> 




