<!--inicio  Proyectos  -->
<article>
  <h2>Mis Proyectos</h2>
  <section class="orden_tarjertas">
  <div class="card">
    <img src="./assets/cam.png" class="card-img-top" alt="imagen de cam">
    <div class="card-body">
      <p class="card-text">CAM "Cuerpo Alma Vida"</p>
    </div>
  </div>
  
  <div class="card">
    <img src="./assets/wai.png" class="card-img-top" alt="imagen WAIHEKE">
    <div class="card-body">
      <p class="card-text">WAIHEKE CROSSFIT</p>
    </div>
  </div>

  <div class="card">
    <img src="./assets/apr.png" class="card-img-top" alt="imagen de Argentina Programa">
    <div class="card-body">
      <p class="card-text">Argentina Programa</p>
    </div>
  </div>
</section>
</article>
<!-- fin proyectos -->



<!-- hard Skills -->
<section class="container__habilidades">
<h3>Proyecto Porfolio Argentina Programa edicion Asincronica, creado por Pablo E. Gonzalez</h3>
<h4>TECNOLOGIAS UTILIZADAS</h4>
  <div>
    <circle-progress
      [percent]="75"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/html.png'"
      [showImage]="true"
      [imageHeight]="30"
      [imageWidth]="30"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="75"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/css3.png'"
      [showImage]="true"
      [imageHeight]="30"
      [imageWidth]="30"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="70"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/js.png'"
      [showImage]="true"
      [imageHeight]="30"
      [imageWidth]="50"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="65"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/angular.png'"
      [showImage]="true"
      [imageHeight]="40"
      [imageWidth]="35"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="60"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/java.png'"
      [showImage]="true"
      [imageHeight]="25"
      [imageWidth]="50"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="60"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/mysql.png'"
      [showImage]="true"
      [imageHeight]="25"
      [imageWidth]="38"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="60"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/github.png'"
      [showImage]="true"
      [imageHeight]="30"
      [imageWidth]="50"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div> 
  <div>
    <circle-progress
      [percent]="60"
      [radius]="30"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#0F2027'"
      [innerStrokeColor]="'#fc4a1a'"
      [animation]="true"
      [animationDuration]="1000"
      [showSubtitle]="false"
      [imageSrc]="'./assets/springboot.png'"
      [showImage]="true"
      [imageHeight]="30"
      [imageWidth]="60"
      [backgroundColor]="'#cbdfe6 '"
    >
    </circle-progress>
  </div>
</section> 

