
         
         <section class="banner">
           <img class="perfil__foto" src="../assets/foto_perfil-cut.jpg"alt="foto perfil">
            <article class=" item__position">

              <!-- boton para editar el banner -->
              <!-- <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngIf="ulogged!=''" >
                <i class="fa-solid fa-pen-to-square"></i>
              </button> -->

                <div *ngFor="let datos of databanner">   <!-- class="perfil__texto"    -->              
                    <p class="p1"><span class="p2">H</span>ola! Soy,</p>                     
                    <p class="p3">{{datos.nombre}}</p>                     
                    <p class="p4">{{datos.apellido}}</p>
                    <p class="p5">Programador Full Stack Jr</p>
                
                </div>                
            </article>
          </section>

<!-- Modal  banner-->

<!-- <div class="modal fade" id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      --------------------
      </div>
    </div>
  </div>
</div>
 -->


