<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"[(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"[(ngModel)]="constrasenia" [ngModelOptions]="{standalone: true}">
      {{loginError}}
    </div>
    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="login()">Submit</button>
  </form>
